/* Import Font faces */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

/* Add tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

html.dark {
  color-scheme: dark
}

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  font-size: 19px;
}

*:focus {
  @apply outline-none;
}
